CHAIN=test
NODEMANAGERPASSWORD=password
RPCIP=bitcoind
RPCPORT=18333
RPCUSER=ddhakka
RPCPASSWORD=password
DNSSEED=0
FIXEDSEEDS=0
WALLETNAME=ddhakka
WALLETADDRESS=n3p9LRpKtYBUywHkE6biEMtHnGZYaovvDq
NODEMNG=true
BFGMINER=false
CGMINER=false
CPUMINER=true