[submodule "bitcoin-node-manager"]
	path = bitcoin-node-manager
	url = https://github.com/Mirobit/bitcoin-node-manager.git
[submodule "bitcoin-node-manager2"]
	path = bitcoin-node-manager2
	url = https://github.com/Mirobit/bitcoin-node-manager.git
